#main__helado {
    padding-top: 10px;
    background-color: white;

    h1 {
        padding-top: 10px;
        font-size: 40px;
        font-family: sans-serif;
        text-align: center;
        color: orangered;
        animation-duration: 2s;
    }
}

#section1__helado {

    background-color: white;

    h5{
        color: orangered;
        font-size: 25px;
        font-family: sans-serif;
    }
    p{
        font-family: sans-serif;
    }
    .texto {
        font-family: sans-serif;
        text-align: justify;
    }


}